[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = [
  "npm install",
  "npm run client-install"
]

[phases.build]
cmds = [
  "npm run build --prefix client"
]

[start]
cmd = "npm start"

